div.Title{
    text-align: left;
    font-size: 50px;
    padding-left: 10px;
    width: 100%;
}
div.body{
    width: 100%;
    color: black;
    height: 50vh;
    background: white;
    font-size: 35px;
    p{
        padding-left: 15px;
    }

}

div.box{
    width: 100%;
    color: black;
    height: 20vh;
    background: white;
    font-size: 25px;
    padding-left: 10px;
    a{
        color: gray;

    }
    a:hover{
        color: darkgray;
    }
    i{
        font-size: 25px;
    }


}
div.contact-box{
    width: 90vw;
    color: black;
    height: 20vh;
    background: white;
    font-size: 35px;
    padding-left: 10px;
    a{
        color: gray;

    }
    a:hover{
        color: darkgray;
    }

}

body{
    background: black;
    color: white;
    font-family: endless, serif;
}
footer{
    text-align: center;
    justify-content: center;
    a{
        color: darkgray;
        text-decoration: none;
    }
    a:hover{
        color: gray;
        text-decoration: underline;
    }
}
img{
    float: right;
    width: 45vh;
    padding-right: 55px;
}
/* W3 schools MIGHT have helped a tiny bit with this */
.navbar{

    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: rgb(0 0 0);
    font-family: endless, serif;
    overflow-x: hidden;
    padding-top: 75px;
    a{
        color: white;
        text-decoration: underline;
        font-size: 35px;
        padding-left: 10px;
    }
    a:hover{
        color: gray;
    }
}

@font-face {
    font-family: endless;
    src: url("/fonts/endless.ttf");
}

@media only screen and (max-width: 1200px) {

    div.box{
        width: 75vw;
        color: black;
        height: 25vh;
        background: white;
        font-size: 15px;
        padding-left: 10px;
        object-fit: contain;
        p{
            font-size: 15px;
        }
        i{
         font-size: 10px;
        }

    }
    div.contact-box{
        width: 70vw;
        color: black;
        height: 25vh;
        background: white;
        font-size: 20px;
        padding-left: 10px;
        object-fit: contain;
        p{
            font-size: 20px;
        }
    }

    body {

        div.body{
            height: 75vh;
            width: 75vw;
            img{
                object-fit: contain;
            }
        }
        background-color: lightblue;
        p{
            font-size: 25px;
        }
        h1{
            font-size: 10vw;
        }
        img{
            width: 25vw;

        }
        .navbar{
            background: cornflowerblue;
            width: 23vw;
            a{
                font-size: 20px;
                padding-right: 10px;

            }
        }
    }
    footer{
        p{
            font-size: 20px;
        }
    }
}